Repository FractalXX/webshop-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project ., stylelint

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "tslint --project .",
    "git add"
  ],
  "src/**/*.scss": [
    "stylelint"
  ]
}

feat: product list page
  .stylelintrc.json
  angular.json
  src/app/app.component.scss
  src/app/order/components/order-list-page/order-list-page.component.ts
  src/app/order/services/order.service.ts
  src/app/product/components/product-card/product-card.component.html
  src/app/product/components/product-card/product-card.component.scss
  src/app/product/components/product-card/product-card.component.ts
  src/app/product/components/product-list-page/product-list-page.component.html
  src/app/product/components/product-list-page/product-list-page.component.scss
  src/app/product/components/product-list-page/product-list-page.component.ts
  src/app/product/services/product.service.ts
  src/app/shared/components/base/base.directive.ts
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/simple-input/simple-input.component.html
  src/app/shared/components/simple-input/simple-input.component.ts
  src/app/shared/interfaces/order-query-params.interface.ts
  src/app/shared/interfaces/product-query-params.interface.ts
  src/app/shared/shared.module.ts
  src/app/shared/utils/api-http-client.ts
  src/environments/environment.ts
  src/style-utils/_media-queries.scss
  src/style-utils/_variables.scss
  src/styles.scss
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, tslint --project ., stylelint

feat: filter on product list
  package-lock.json
  package.json
  src/app/product/components/product-card/product-card.component.html
  src/app/product/components/product-card/product-card.component.scss
  src/app/product/components/product-list-page/product-list-page.component.html
  src/app/product/components/product-list-page/product-list-page.component.ts
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/simple-input/simple-input.component.ts
  src/app/shared/services/query.service.ts
  src/app/shared/shared.module.ts
  src/styles.scss
Due: prettier --write, tslint --project ., stylelint

fix: minor style and doc fixes
  README.md
  src/app/order/components/order-list-page/order-list-page.component.html
  src/app/order/components/order-list-page/order-list-page.component.ts
  src/app/product/components/product-card/product-card.component.html
  src/app/product/components/product-list-page/product-list-page.component.html
  src/app/shared/components/base/base.directive.ts
  src/app/shared/components/header/header.component.scss
  src/app/shared/shared.module.ts
  src/polyfills.ts
  src/styles.scss
Due: prettier --write, tslint --project ., stylelint

feat: order list page
  src/app/order/components/order-details/order-details.component.html
  src/app/order/components/order-details/order-details.component.scss
  src/app/order/components/order-details/order-details.component.ts
  src/app/order/components/order-list-page/order-list-page.component.html
  src/app/order/components/order-list-page/order-list-page.component.scss
  src/app/order/components/order-list-page/order-list-page.component.ts
  src/app/order/order.module.ts
  src/app/order/services/order.service.ts
  src/app/shared/animations/table-row-expand.animation.ts
  src/app/shared/base/base.directive.ts
  src/app/shared/components/header/header.component.spec.ts
  src/app/shared/components/simple-input/simple-input.component.ts
  src/app/shared/interfaces/order.interface.ts
  src/app/shared/interfaces/product-order.interface.ts
  src/app/shared/shared.module.ts
  src/styles.scss
Due: prettier --write, tslint --project ., stylelint

feat: order details
  src/app/order/components/order-details/order-details.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/simple-address/simple-address.component.ts
  src/app/shared/interfaces/address.interface.ts
  src/app/shared/interfaces/order.interface.ts
  src/app/shared/shared.module.ts
  src/styles.scss
Due: prettier --write, tslint --project ., stylelint

feat: customer details, responsivity fixes
  src/app/customer/components/customer-detail/customer-detail.component.html
  src/app/customer/components/customer-detail/customer-detail.component.scss
  src/app/customer/components/customer-detail/customer-detail.component.ts
  src/app/customer/components/customer-list-page/customer-list-page.component.html
  src/app/customer/components/customer-list-page/customer-list-page.component.scss
  src/app/customer/components/customer-list-page/customer-list-page.component.ts
  src/app/customer/customer.module.ts
  src/app/customer/services/customer.service.ts
  src/app/order/components/order-details/order-details.component.html
  src/app/order/components/order-list-page/order-list-page.component.html
  src/app/order/components/order-list-page/order-list-page.component.scss
  src/app/product/components/product-card/product-card.component.html
  src/app/shared/components/customer-info/customer-info.component.ts
  src/app/shared/interfaces/customer-info.interface.ts
  src/app/shared/interfaces/customer.interface.ts
  src/app/shared/shared.module.ts
  src/style-utils/_variables.scss
  src/styles.scss
Due: prettier --write, tslint --project ., stylelint

feat: order create page
  src/app/app.module.ts
  src/app/order/components/order-details/order-details.component.html
  src/app/order/components/order-details/order-details.component.scss
  src/app/order/components/order-place-page/order-place-page.component.html
  src/app/order/components/order-place-page/order-place-page.component.scss
  src/app/order/components/order-place-page/order-place-page.component.ts
  src/app/order/components/product-order-table/product-order-table.component.html
  src/app/order/components/product-order-table/product-order-table.component.scss
  src/app/order/components/product-order-table/product-order-table.component.ts
  src/app/order/order-routing.module.ts
  src/app/order/order.module.ts
  src/app/order/services/order.service.ts
  src/app/product/components/product-list-page/product-list-page.component.html
  src/app/shared/components/customer-info-group/customer-info-group.component.html
  src/app/shared/components/customer-info-group/customer-info-group.component.ts
  src/app/shared/components/customer-info/customer-info.component.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/components/simple-input/simple-input.component.html
  src/app/shared/components/simple-input/simple-input.component.ts
  src/app/shared/shared.module.ts
Due: prettier --write, tslint --project ., stylelint

feat: add products to order
  src/app/app.module.ts
  src/app/customer/services/customer.service.ts
  src/app/order/components/order-details/order-details.component.ts
  src/app/order/components/order-list-page/order-list-page.component.ts
  src/app/order/components/order-place-page/order-place-page.component.html
  src/app/order/components/order-place-page/order-place-page.component.scss
  src/app/order/components/order-place-page/order-place-page.component.ts
  src/app/product/components/product-card/product-card.component.html
  src/app/product/components/product-card/product-card.component.ts
  src/app/product/components/product-list-page/product-list-page.component.html
  src/app/product/components/product-list-page/product-list-page.component.ts
  src/app/shared/components/customer-info-group/customer-info-group.component.ts
  src/app/shared/enums/notification-type.enum.ts
  src/app/shared/interceptors/response-error.interceptor.ts
  src/app/shared/interfaces/order-create.interface.ts
  src/app/shared/interfaces/order.interface.ts
  src/app/shared/services/notification.service.ts
  src/app/shared/services/order.service.ts
  src/app/shared/shared.module.ts
  src/styles.scss
Due: prettier --write, tslint --project ., stylelint

feat: submit order
  src/app/customer/services/customer.service.ts
  src/app/order/components/order-place-page/order-place-page.component.html
  src/app/order/components/order-place-page/order-place-page.component.ts
  src/app/shared/services/order.service.ts
Due: prettier --write, tslint --project .

feat: remove items from order, validation
  package-lock.json
  package.json
  src/app/order/components/order-list-page/order-list-page.component.ts
  src/app/order/components/order-place-page/order-place-page.component.html
  src/app/order/components/order-place-page/order-place-page.component.ts
  src/app/product/components/product-add-dialog/product-add-dialog.component.html
  src/app/product/components/product-add-dialog/product-add-dialog.component.ts
  src/app/product/components/product-card/product-card.component.html
  src/app/product/components/product-card/product-card.component.ts
  src/app/product/components/product-list-page/product-list-page.component.html
  src/app/product/components/product-list-page/product-list-page.component.ts
  src/app/product/product.module.ts
  src/app/shared/components/simple-input/simple-input.component.html
  src/app/shared/components/simple-input/simple-input.component.ts
  src/app/shared/components/simple-notification/simple-notification.component.ts
  src/app/shared/directives/max.directive.ts
  src/app/shared/directives/min.directive.ts
  src/app/shared/interceptors/response-error.interceptor.ts
  src/app/shared/services/notification.service.ts
  src/app/shared/services/order.service.ts
  src/app/shared/shared.module.ts
  src/app/shared/utils/patterns.ts
  src/styles.scss
Due: prettier --write, tslint --project ., stylelint

fix: undefined error on order creation, style fixes
  src/app/customer/components/customer-detail/customer-detail.component.scss
  src/app/customer/components/customer-list-page/customer-list-page.component.html
  src/app/order/components/order-list-page/order-list-page.component.html
  src/app/order/components/order-place-page/order-place-page.component.html
  src/app/order/components/order-place-page/order-place-page.component.ts
  src/styles.scss
Due: prettier --write, tslint --project ., stylelint

fix: change grid to flexbox, mobile fixes
  src/app/order/components/order-details/order-details.component.html
  src/app/order/components/order-details/order-details.component.ts
  src/app/order/components/order-place-page/order-place-page.component.html
  src/app/order/components/product-order-table/product-order-table.component.scss
  src/app/product/components/product-add-dialog/product-add-dialog.component.html
  src/app/product/components/product-list-page/product-list-page.component.html
  src/app/product/components/product-list-page/product-list-page.component.scss
  src/app/product/components/product-list-page/product-list-page.component.ts
Due: prettier --write, tslint --project ., stylelint

fix: show max error on datepicker
  src/app/order/components/order-place-page/order-place-page.component.html
Due: none

feat: customer and order detail page, style fixes
  src/app/customer/components/customer-detail/customer-detail.component.html
  src/app/customer/components/customer-detail/customer-detail.component.scss
  src/app/customer/components/customer-detail/customer-detail.component.ts
  src/app/customer/components/customer-details-page/customer-details-page.component.html
  src/app/customer/components/customer-details-page/customer-details-page.component.scss
  src/app/customer/components/customer-details-page/customer-details-page.component.ts
  src/app/customer/components/customer-list-page/customer-list-page.component.html
  src/app/customer/components/customer-list-page/customer-list-page.component.ts
  src/app/customer/customer-routing.module.ts
  src/app/customer/customer.module.ts
  src/app/customer/services/customer.service.ts
  src/app/order/components/order-details-page/order-details-page.component.html
  src/app/order/components/order-details-page/order-details-page.component.ts
  src/app/order/components/order-details/order-details.component.html
  src/app/order/components/order-details/order-details.component.ts
  src/app/order/components/order-list-page/order-list-page.component.html
  src/app/order/components/order-list-page/order-list-page.component.scss
  src/app/order/components/order-list-page/order-list-page.component.ts
  src/app/order/components/order-place-page/order-place-page.component.html
  src/app/order/components/order-place-page/order-place-page.component.ts
  src/app/order/order-routing.module.ts
  src/app/order/order.module.ts
  src/app/product/components/product-list-page/product-list-page.component.html
  src/app/product/components/product-list-page/product-list-page.component.ts
  src/app/shared/animations/table-row-expand.animation.ts
  src/app/shared/components/simple-input/simple-input.component.html
  src/app/shared/services/order.service.ts
  src/styles.scss
Due: prettier --write, tslint --project ., stylelint

fix: break email, make not found label more noticable
  src/app/customer/components/customer-details-page/customer-details-page.component.html
  src/app/customer/components/customer-list-page/customer-list-page.component.html
  src/app/order/components/order-list-page/order-list-page.component.html
  src/app/product/components/product-list-page/product-list-page.component.html
  src/styles.scss
Due: stylelint

chore: docker config, readme
  .dockerignore
  .nginx/nginx.conf
  Dockerfile
  README.md
  package-lock.json
  package.json
  src/environments/environment.prod.ts
Due: prettier --write, tslint --project .

fix: break item number
  src/app/product/components/product-card/product-card.component.html
Due: none

chore: add note to readme
  README.md
Due: none

fix: fix validation in product dialog
  src/app/product/components/product-add-dialog/product-add-dialog.component.html
  src/app/shared/components/simple-input/simple-input.component.html
  src/app/shared/components/simple-input/simple-input.component.ts
Due: prettier --write, tslint --project .

chore: add attributes for tests
  src/app/product/components/product-card/product-card.component.html
  src/app/product/components/product-list-page/product-list-page.component.html
Due: none
